<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  <ion-card-content>
  <form [formGroup] = "formularioRegistro" (keyup)="guardar()">
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input formControlName = "nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input formControlName = "password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirmar Password</ion-label>
      <ion-input formControlName = "confirmar" type="password"></ion-input>
    </ion-item>
  </form>
    <ion-button (click) = "guardar()">Registrarse</ion-button>

  </ion-card-content>
</ion-card>
</ion-content>
